<h1> Rastreios </h1><br/>
<table class="table table-bordered table-hover">
    <thead>
        <th> GUID </th>
        <th> URL </th>
        <th> DATA/HORA </th>
    </thead>
    <tbody>
    <%= render @rastreios%>
    </tbody>

</table>